.fondo-popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.tarjetas-popup {
  border: 1px solid #dfe1e6;
  border-radius: 4.26vw;
  background-color: #fff;
  width: 91.46vw;
  overflow: auto;
  margin: 0 3.2vw 0 0;
}

.tarjetas-popup div.arriba {
  justify-content: space-between;
}

.tarjetas-popup h3 {
  font-size: 2rem;
  margin-top: 4.8vw;
  margin-bottom: 0;
}

.exit-boton {
  background-image: url(media/quit\ Icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 8vw 8vw 0 0;
  width: 0.75rem;
  height: 0.75rem;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.tarjetas-popup ul.empresa {
  margin: 0.867vw 5.3vw;
}

.tarjetas-popup .indices p {
  font-size: 0.75rem;
}

.tarjetas-popup .empresa li p {
  font-size: 0.813rem;
}

.escritorio-capa-popup .derecha {
  display: flex;
  flex-direction: column;
}

.foto-popup {
  align-self: center;
  width: 90%;
}

.tarjetas-popup hr {
  border: 1px solid #ebecf0;
  align-self: center;
  width: 90%;
  margin: 0;
}

.button-container {
  justify-content: space-around;
}

.tarjetas-popup .div-button {
  margin-top: 3.038vh;
}

.tarjetas-popup .button-container button {
  padding: 1.701vh;
}

.button-icon {
  margin: 0 0.625rem;
  height: 1.25rem;
}

@media (min-width: 768px) {
  .tarjetas-popup {
    border-radius: 1.1vw;
    width: 80.278vw;
    height: 80vh;
  }

  .exit-boton {
    width: 0.75rem;
    height: 0.75rem;
    margin: 2.639vw 2.639vw 0 0;
  }

  .tarjetas-popup h3 {
    font-size: 2rem;
    margin: 1.667vw 1.667vw 0;
  }

  .tarjetas-popup ul.empresa {
    margin: 1.1vw 1.667vw 2.5vw;
  }

  .tarjetas-popup .empresa li {
    margin: 0 0.833vw 0 0;
  }

  .popup-imagen-grupo {
    align-self: center;
    width: 76.94vw;
    height: 40.694vw;
    overflow: hidden;
  }

  .foto-popup {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .escritorio-capa-popup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4.097vw 1.667vw 1.667vw;
  }

  .escritorio-capa-popup .derecha {
    width: 20.694vw;
  }

  .escritorio-capa-popup .indices li {
    margin-bottom: 1.75vw;
  }

  .escritorio-capa-popup p.tarjeta-explicacion {
    width: 54.028vw;
  }

  .tarjetas-popup.div-button {
    margin-top: 1.458vw;
  }

  .tarjetas-popup .button-container button {
    padding: 0.634vh;
  }

  .lista {
    margin-left: 10px;
  }
}
